/* Setting color variables */
:root {
    --teal: #92CCCE;
    --dark-gray: #31343D;
    --medium-gray: #445877;
    --white-gray: #EEEEF7;
}

/* Universal and body styling */
* {
    font-family:Arial, Helvetica, sans-serif, 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
}

body {
    width: 100%;
    line-height: 1.4em;
    padding-bottom: 10px;
    background-color: var(--white-gray);
    color: var(--medium-gray);
}

/* Header styling area */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3.7em;
    padding: 0 5%;
    background-color: var(--dark-gray);
}

h1 {
    height: fit-content;
    font-size: 2.5em;
    margin: 6px 0 6px -80px;
    padding: 12px 5px 12px 60px;
    background-color: var(--teal);
    color: var(--dark-gray);
}

header nav {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

header a {
    margin: 0 2px;
    border-bottom: 3px solid var(--teal);
    color: var(--teal);
}

header p {
    padding: 0;
    font-weight: bold;
    font-family: 'Archivo Black';
    color: var(--white-gray);
}

#subtitle-area {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    height: 10em;
    padding: 0 5%;
    background-image: url(image_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#subtitle-area p {
    display: flex;
    position: absolute;
    bottom: 20px;
    height: 1.5em;
    padding-top: 8px;
    font-size: x-large;
    font-weight: bolder;
    background-color: var(--teal);
    color: var(--medium-gray);
}

/* Main styling area */
main, footer {
    padding: 10px 5%;
}

/* About me section styling */
#about {
    display: flex;
    flex-direction: row;
    padding: 10px 0 20px 0;
}

.titles {
    display: flex;
    position: relative;
    width: 20%;
    font-size: 2.3em;
    border-right: 3px solid var(--medium-gray);
    color: var(--medium-gray);
}

#about_me, #contact {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

#about h2 {
    display: flex;
    justify-content: flex-end;
    line-height: 1.1em;
}

/* Work section styling */
#work {
    position: absolute;
    top: 7px;
    right: 10px;
}

#my_bio {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0 0 1% 2%;
}

p {
    padding-bottom: 1.5%;
    color: var(--medium-gray);
}

#work_section {
    display: flex;
}

#project_links {
    display: flex;
    flex-flow: row wrap;
    padding-left: 2%;
    width: 80%;
}

/* Portfoliio links cards styling */
.items {
    display: flex;
    flex: 1 1 auto;
    position: relative;
    height: 10em;
    width: 49%;
    border: 5px solid var(--teal);
    opacity: .75;
}

.items:hover {
    opacity: 1;
}

.item_cards {
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 0;
    top: 55px;
    padding: 10px;
    background-color: var(--teal);
    color: var(--medium-gray);
}

#item_1 .item_cards {
    position: absolute;
    left: 0;
    top: 375px;
}

h4 {
    font-size: x-large;
}

#item_1 {
    width: 100%;
    height: 30em;
    margin-bottom: 1%;
    background-image: url(./Horiseon.jpg);
    background-size: cover;
}

#item_2 {
    background-image: url(./picture_2.jpg);
    background-size: cover;
    margin: 1% 1% 1% 0;
}

#item_3 {
    background-image: url(./picture_3.jpg);
    background-size: cover;
    margin: 1% 0 1% 1%;
}

#item_4 {
    background-image: url(./picture_4.jpg);
    background-size: cover;
    margin: 1% 1% 2% 0;
}

#item_5 {
    background-image: url(./picture_5.jpg);
    background-size: cover;
    margin: 1% 0 2% 1%;
}

/* Footer section styling */
footer {
    display: flex;
    flex-direction: row;
}

footer h2 {
    display: flex;
    justify-content: flex-end;
    line-height: 1.1em;
}

/* Contact links styling */
#socials {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    width: 80%;
    padding: 5px 5% 5px 5%;
    row-gap: 10px;
}

footer a {
    display: flex;
    margin: 0 2px;
    border-bottom: 2px solid var(--medium-gray);
    font-size: larger;
    color: var(--medium-gray);
}

/* Screen size changes */

/* Tablet view restructure */
@media screen and (max-width: 980px) {
    header, #about, #work_section, footer {
        flex-direction: column;
    }

    header {
        height: 5.5em;
        padding: 0 0 10px 0;
    }

    h1 {
        text-align: center;
        margin: 0 0 6px -52px;
    }

    header nav {
        justify-content: center;
    }

    .titles {
        width: 100%;
        height: 1.3em;
        border-right: none;
        border-bottom: 3px solid var(--medium-gray);
    }

    #about .titles, footer .titles {
        flex-direction: row;
        padding-right: 0;
    }

    #about h2, footer h2 {
        padding-right: 10px;
    }

    h2 {
        left: 0;
    }

    #my_bio, #project_links, #socials {
        padding: 2% 0 2% 0;
        width: 100%;
    }
}

/* Mobile view restructure */
@media screen and (max-width: 768px) {
    .items {
        width: 100%;
    }
    
    #item_1 {
        height: 10em;
        margin: 0 0 1% 0;
    }

    #item_2, #item_3, #item_4 {
        margin: 1% 0;
    }

    #item_5 {
        height: 10em;
        margin: 1% 0 0 0;
    }

    #item_1 .item_cards {
        top: 55px;
    }
    
    #socials {
        flex-direction: column;
        align-content: flex-start;
    }

    #socials a {
        width: fit-content;
        padding-bottom: 2px;
    }
}