* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 3px;
}

header {
    display: flex;
    justify-content: space-between;
}

h1 {
    justify-content: left;
    padding: 10px 5px 5px 40px;
    font-size: 2.5em;
}

nav {
    display: flex;
    align-items: end;
}

header ul {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
}

li {
    border-bottom: 2px solid black;
    margin: 0 2px;
}

a {
    text-decoration: none;
}

#subtitle-area {
    display: flex;
    position: relative;
    height: 5em;
    flex-direction: row-reverse;
}

#subtitle-area h3 {
    display: flex;
    font-size: larger;
    height: 1.5em;
}

#about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

p {

}

footer ul {
    display: flex;
}