* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 3px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #31343D;
}

h1 {
    justify-content: left;
    padding: 10px 5px 5px 40px;
    font-size: 2.5em;
    background-color: #92CCCE;
}

nav {
    display: flex;
    align-items: end;
}

header ul {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
}

header li {
    border-bottom: 2px solid #92CCCE;
    margin: 0 2px;
}

header a {
    color: #92CCCE;
}

a {
    text-decoration: none;
    color: black;
}

#subtitle-area {
    display: flex;
    position: relative;
    height: 5em;
    flex-direction: row-reverse;
    background-image: radial-gradient(#31343D 15%, #92CCCE 15%, white);
}

#subtitle-area h3 {
    display: flex;
    font-size: larger;
    height: 1.5em;
    position: absolute;
    bottom: 0;
    right: 40px;
}

#about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h2 {
    border-right: 2px solid black;
}

p {

}

footer ul {
    display: flex;
}

footer li {
    border-bottom: 2px solid black;
    margin: 0 2px;
}